body{
    width: 100%;
    height: auto;
    background: linear-gradient(45deg,#3494E6, #EC6EAD);
    animation: gradient 10s ease infinite;
    background-size: 300% 300%;
        @keyframes gradient {
            0% {
                background-position: 0 50%;
        }
            50% {
                background-position: 100% 50%;
        }
            100% {
                background-position: 0 50%;
        }
    }
}